# coding: utf-8

"""
    VIRL STD API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: 0.10
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class InterfacesApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def simengine_rest_interfaces_simulation_get(self, simulation, **kwargs):
        """
        List simulation interfaces.
        List simulation interfaces.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.simengine_rest_interfaces_simulation_get(simulation, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str simulation: Simulation ID (required)
        :param list[str] nodes: select nodes for return by name or XPath, defaults to all nodes
        :param list[str] networks: select networks for return by name or XPath, defaults to all networks
        :param list[str] interfaces: select interfaces for return by name or XPath, defaults to all interfaces
        :return: StdDefsJsondefinitionsnoschema
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.simengine_rest_interfaces_simulation_get_with_http_info(simulation, **kwargs)
        else:
            (data) = self.simengine_rest_interfaces_simulation_get_with_http_info(simulation, **kwargs)
            return data

    def simengine_rest_interfaces_simulation_get_with_http_info(self, simulation, **kwargs):
        """
        List simulation interfaces.
        List simulation interfaces.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.simengine_rest_interfaces_simulation_get_with_http_info(simulation, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str simulation: Simulation ID (required)
        :param list[str] nodes: select nodes for return by name or XPath, defaults to all nodes
        :param list[str] networks: select networks for return by name or XPath, defaults to all networks
        :param list[str] interfaces: select interfaces for return by name or XPath, defaults to all interfaces
        :return: StdDefsJsondefinitionsnoschema
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['simulation', 'nodes', 'networks', 'interfaces']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method simengine_rest_interfaces_simulation_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'simulation' is set
        if ('simulation' not in params) or (params['simulation'] is None):
            raise ValueError("Missing the required parameter `simulation` when calling `simengine_rest_interfaces_simulation_get`")


        collection_formats = {}

        path_params = {}
        if 'simulation' in params:
            path_params['simulation'] = params['simulation']

        query_params = []
        if 'nodes' in params:
            query_params.append(('nodes', params['nodes']))
            collection_formats['nodes'] = 'csv'
        if 'networks' in params:
            query_params.append(('networks', params['networks']))
            collection_formats['networks'] = 'csv'
        if 'interfaces' in params:
            query_params.append(('interfaces', params['interfaces']))
            collection_formats['interfaces'] = 'csv'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/simengine/rest/interfaces/{simulation}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='StdDefsJsondefinitionsnoschema',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def simengine_rest_update_interfaces_simulation_put(self, simulation, link_state, **kwargs):
        """
        Update simulation nodes interfaces admin_state.
        Update simulation nodes interfaces admin_state.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.simengine_rest_update_interfaces_simulation_put(simulation, link_state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str simulation: Simulation ID (required)
        :param int link_state: Interface admin_state (0 = down, 1 = up) (required)
        :param list[str] nodes: select nodes for return by name or XPath, defaults to all nodes
        :param list[str] networks: select networks for return by name or XPath, defaults to all networks
        :param list[str] interfaces: select interfaces for return by name or XPath, defaults to all interfaces
        :return: StdDefsJsondefinitionsnoschema
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.simengine_rest_update_interfaces_simulation_put_with_http_info(simulation, link_state, **kwargs)
        else:
            (data) = self.simengine_rest_update_interfaces_simulation_put_with_http_info(simulation, link_state, **kwargs)
            return data

    def simengine_rest_update_interfaces_simulation_put_with_http_info(self, simulation, link_state, **kwargs):
        """
        Update simulation nodes interfaces admin_state.
        Update simulation nodes interfaces admin_state.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.simengine_rest_update_interfaces_simulation_put_with_http_info(simulation, link_state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str simulation: Simulation ID (required)
        :param int link_state: Interface admin_state (0 = down, 1 = up) (required)
        :param list[str] nodes: select nodes for return by name or XPath, defaults to all nodes
        :param list[str] networks: select networks for return by name or XPath, defaults to all networks
        :param list[str] interfaces: select interfaces for return by name or XPath, defaults to all interfaces
        :return: StdDefsJsondefinitionsnoschema
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['simulation', 'link_state', 'nodes', 'networks', 'interfaces']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method simengine_rest_update_interfaces_simulation_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'simulation' is set
        if ('simulation' not in params) or (params['simulation'] is None):
            raise ValueError("Missing the required parameter `simulation` when calling `simengine_rest_update_interfaces_simulation_put`")
        # verify the required parameter 'link_state' is set
        if ('link_state' not in params) or (params['link_state'] is None):
            raise ValueError("Missing the required parameter `link_state` when calling `simengine_rest_update_interfaces_simulation_put`")


        collection_formats = {}

        path_params = {}
        if 'simulation' in params:
            path_params['simulation'] = params['simulation']

        query_params = []
        if 'nodes' in params:
            query_params.append(('nodes', params['nodes']))
            collection_formats['nodes'] = 'csv'
        if 'networks' in params:
            query_params.append(('networks', params['networks']))
            collection_formats['networks'] = 'csv'
        if 'interfaces' in params:
            query_params.append(('interfaces', params['interfaces']))
            collection_formats['interfaces'] = 'csv'
        if 'link_state' in params:
            query_params.append(('link-state', params['link_state']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/simengine/rest/update/interfaces/{simulation}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='StdDefsJsondefinitionsnoschema',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
